@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.App {
  text-align: center;
  background-color: #2f3f30ad;

}
.App-header h1 {
  font-size: 4rem;
}


.App-header {
  background-color: #2f3f30;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  padding: 1rem;
  font-family: 'Rubik 80s Fade', cursive;
}

.city-form {
  /* border: solid 1px #242923; */
  border-radius: 15px;
  padding: 1rem;
  margin: 0 auto;
  /* background-color: #282c349f; */
  font-family: 'Russo One', sans-serif;
}

.city-form input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 1rem;
  margin-right: 1rem;
  width: 300px;
}

.city-form button {
  margin: 1rem auto 0 auto;
  width: fit-content;
  background-color: #2f3f30;
  color: rgb(212, 211, 211);
  border: none;
  padding: .5rem;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 1px;

}

.map-card {
  font-family: 'Russo One', sans-serif;

}

.Weather {
  width: 50%;
  margin: 2rem auto;
}

.error-message {
  color: red;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: 600px;
  margin: 0 auto;
}

.error-message img {
  width: 100%;
  border-radius: 10px;
}

.error-alert {
  margin: 1rem 0rem;
  width: 100%;
}